<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"  media="all">
  <style>
	.head-nav{
		margin-top:20px;
		margin-left:20px;
	}
</style>
</head>
<body>
  <div class="head-nav">
 		<a class="layui-btn">角色列表</a>
  </div>
  <form action="" class="layui-form">
  	  <div class="layui-form-item">
    <label class="layui-form-label">角色</label>
    <div class="layui-input-block">
    {foreach name="roles" item="v"}
    	{if condition="in_array($v['id'],$is_selected)"}
      		<input type="checkbox" name="role_id[]" checked value="{$v['id']}" title="{$v['name']}">
      	{else/}
      		<input type="checkbox" name="role_id[]" value="{$v['id']}" title="{$v['name']}">
      	{/if}
    {/foreach}
    </div>
  </div>
	<div class="layui-form-item">
    <div class="layui-input-block">
    	<input type="hidden" value="{$admin_id}" name="admin_id"/>
    	<input type="hidden"  value="{:url('admin_role/doAdd')}" class="base_url"/>
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
    </div>
  </div>
  </form>
  
  
  
  
  
  
  
  
  
  
<script src="__STATIC__/layui/layui.js" charset="utf-8"></script>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/js/public.js"></script>
<script src="__STATIC__/js/admin_role.js"></script>
</body>
</html>